In [1]:
import pandas as pd
import requests
import json
from pprint import pprint
from sqlalchemy import create_engine

In [2]:
#data from CSV file exported from FanGraphs
csv_file = "mets.csv"
mets_df = pd.read_csv(csv_file)
mets_df.head()

,Name,G,PA,HR,R,RBI,SB,BB%,K%,ISO,...,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
0,Peter Alonso,161,693,53,103,120,1,10.4 %,26.4 %,0.323,...,0.260,0.358,0.583,0.384,143,-2.2,37.0,-9.7,4.8,19251
1,Jeff McNeil,133,567,23,83,75,5,6.2 %,13.2 %,0.214,...,0.318,0.384,0.531,0.384,143,-2.9,29.4,-0.8,4.6,15362
2,Michael Conforto,151,648,33,90,92,7,13.0 %,23.0 %,0.237,...,0.257,0.363,0.494,0.358,126,1.4,23.6,-6.0,3.7,16376
3,Amed Rosario,157,655,15,75,72,19,4.7 %,18.9 %,0.144,...,0.287,0.323,0.432,0.318,100,1.3,1.1,5.9,2.7,15518
4,Wilson Ramos,141,524,14,52,73,1,8.4 %,13.2 %,0.129,...,0.288,0.351,0.416,0.327,105,-5.8,-2.1,-0.1,1.4,1433

In [3]:
#Cleaning up for the columns we want
nym_df = mets_df[['Name', 'HR', 'AVG', 'OBP', 'RBI', 'SB']].copy()
nym_df.head()

               Name  HR    AVG    OBP  RBI  SB
0      Peter Alonso  53  0.260  0.358  120   1
1       Jeff McNeil  23  0.318  0.384   75   5
2  Michael Conforto  33  0.257  0.363   92   7
3      Amed Rosario  15  0.287  0.323   72  19
4      Wilson Ramos  14  0.288  0.351   73   1

In [4]:
url= "http://lookup-service-prod.mlb.com/json/named.search_player_all.bam?sport_code='mlb'&active_sw='Y'&start_season=2019&end_season=2019&name_part="
response = requests.get(url + "'"+nym_df['Name'][0]+"'")

In [5]:
data = response.json()
pprint(data)

{'search_player_all': {'copyRight': ' Copyright 2019 MLB Advanced Media, L.P.  '
                                    'Use of any content on this page '
                                    'acknowledges agreement to the terms '
                                    'posted here '
                                    'http://gdx.mlb.com/components/copyright.txt  ',
                       'queryResults': {'created': '2019-10-15T00:25:17',
                                        'totalSize': '0'}}}

In [6]:
nymInfo = []
lst2 = []
i = True

for name in nym_df['Name']:
    try:
        response = requests.get(url + "'"+name+"'")
        data = response.json()
        print(data['search_player_all']['queryResults']['row']['bats'])
        print(nym_df['Name'])
        lst2.append(data)
        nymInfo.append(lst2)
    except:
        nymInfo.append('NaN')
        nymInfo.append('NaN')
        nymInfo.append('NaN')

L
0        Peter Alonso
1         Jeff McNeil
2    Michael Conforto
3        Amed Rosario
4        Wilson Ramos
Name: Name, dtype: object
L
0        Peter Alonso
1         Jeff McNeil
2    Michael Conforto
3        Amed Rosario
4        Wilson Ramos
Name: Name, dtype: object
R
0        Peter Alonso
1         Jeff McNeil
2    Michael Conforto
3        Amed Rosario
4        Wilson Ramos
Name: Name, dtype: object
R
0        Peter Alonso
1         Jeff McNeil
2    Michael Conforto
3        Amed Rosario
4        Wilson Ramos
Name: Name, dtype: object

In [9]:
test =pd.DataFrame(lst2)

In [10]:
test

                                   search_player_all
0  {'copyRight': ' Copyright 2019 MLB Advanced Me...
1  {'copyRight': ' Copyright 2019 MLB Advanced Me...
2  {'copyRight': ' Copyright 2019 MLB Advanced Me...
3  {'copyRight': ' Copyright 2019 MLB Advanced Me...